<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= judul %></title>
</head>
<body>
    <%- include("partials/nav") %>

    <h1><%= judul %></h1>

    <form action="/handphone/tambah" method="POST">
        <div>
            <label id="nama_hp">Nama</label>
            <input type="text" name="nama_hp" id="nama_hp">
        </div>
        <div>
            <label id="merek">Merek</label>
            <input type="text" name="merek" id="merek">
        </div>
        <div>
            <label id="tipe_os">Tipe OS</label>
            <select name="tipe_os" id="tipe_os">
                <option value="Android">Android</option>
                <option value="iOS">iOS</option>
            </select>
        </div>
        <div>
            <label id="harga">Harga</label>
            <input type="text" name="harga" id="harga">
        </div>
        <div>
            <button type="submit">Simpan</button>
        </div>
    </form>
</body>
</html>